.header {
  width: 320px;
  background-image: url("../img/icons/logo-header.svg");
  background-repeat: no-repeat;
  background-position: top 23px left 109px;
  padding-top: 13px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-bottom: 14px;
}
.header__link {
  display: block;
  width: 33px;
  height: 38px;
  background-image: url("../../img/icons/logo-mobile.svg");
  margin-right: 222px;
  margin-left: 20px;
}
