.nav {
  position: relative;
}

.nav__menu {}

.nav__toggle {
  position: absolute;
  background-color: transparent;
  padding: 0;
  background-image: url("../img/icons/button-nav-open.svg");
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  right: 21px;
  top: -45px;
}

.menu--active+.nav__toggle {
  background-image: url("../img/icons/button-nav-close.svg");
  width: 19px;
  height: 19px;
  cursor: pointer;
  right: 19px;
  top: -43px;
}

.menu--closed+.nav__toggle {
  background-image: url("../img/icons/button-nav-open.svg");
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  right: 21px;
  top: -45px;
}

@media (min-width: @tablet-width) {
  .nav__toggle {
    display: none;
  }
}
