.extend__title {
  margin-bottom: 34px;
}

.extend__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extend__card {
  border-bottom: 1px solid #d9d9d9;
  margin: 0 20px;
  padding: 11px 0 18px 0;
}

.extend__card-title {
  margin: 0;
  padding: 0;
  padding-right: 45px;
  color: #222222;
  font-family: @oswald-r;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.extend__card:first-child {
  border-top: 1px solid #d9d9d9;
}

.extend__card-text {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #444444;
  font-family: @lato-r;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 7px;
}

.extend__card-link {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .extend__title {
    margin-bottom: 80px;
  }

  .extend__list {
    display: block;
  }

  .extend__card {
    border: 1px solid #d9d9d9;
    margin: 0 30px;
    padding: 24px 37px 27px 37px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .extend__card:first-child {
    border-top: 1px solid #d9d9d9;
  }

  .extend__card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
  }

  .extend__card-item {
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: 6px 3px 0 0;
    width: 222px;
    margin-bottom: 7px;
  }

  .extend__card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .extend__card-text--left {
    text-align: right;
    display: block;
    min-width: 131px;
  }

  .extend__card-text--right {
    text-align: right;
    min-width: 50px;
    display: block;
  }

  .extend__card-link {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    min-height: 40px;
    padding: 10px 27px 10px 26px;
  }
}

@media (min-width: @desktop-width) {
  .extend__block {
    display: flex;
    margin: 0 auto;
    width: 1220px;
    justify-content: space-between;
    margin-bottom: 88px;
  }

  .extend__card-title {
    margin: 0;
    padding: 0;
    padding-top: 9px;
    width: 161px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 165px;
  }

  .extend__list {
    display: block;
    margin: 0;
    width: 895px;
  }

  .extend__card {
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .extend__card:first-child {
    border-top: 1px solid #d9d9d9;
  }

  .extend__card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding-top: 9px;
  }

  .extend__card-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    width: 284px;
    margin-right: 41px;
  }

  .extend__card-text--left {
    text-align: left;
    display: block;
    min-width: 143px;
  }

  .extend__card-text--right {
    text-align: left;
    min-width: 41px;
    display: block;
  }

  .extend__card-link {
    margin: 0;
    width: auto;
    padding: 10px 92px 9px 91px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    min-height: 40px;
  }
}
